.container-fluid {
  padding: 10px 0;
  /* border:1px solid red; */
  background-color: rgb(182, 219, 219);
  height:70px;
}

.header-title {
  display: inline-block;
  margin-left: 10px;
  font-size: xx-large;
  color:blue
  
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  color: #333;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

